<a href="https://colab.research.google.com/github/einsteinmugambi/AI-Coursework2025/blob/main/practice_assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("saurograndi/airplane-crashes-since-1908")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'airplane-crashes-since-1908' dataset.
Path to dataset files: /kaggle/input/airplane-crashes-since-1908

In [13]:
import pandas as pd
import os


file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)


display(df.head())

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)


rows, cols = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {cols}")

Number of rows: 5268
Number of columns: 13

In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)
display(df.tail(75))

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
5193,03/15/2008,08:15,"Nbagu, Nigeria",Trade Wings Aviation Ltd.,NaN,Lagos - Bebi Air Strip,Beechcraft 1900D,5N-JAH,UE-322,3.0,3.0,0.0,The plane crashed while en route. Wreckage was...
5194,04/03/2008,11:00,"Lawa, Suriname",Blue Wing Airlines,NaN,Paramaribo - Lawa,Antonov An-28,PZ-TSO,1AJ007-17,19.0,19.0,0.0,While attempting to land the crew aborted the ...
5195,04/09/2008,23:27,"Bundeena, Australia",Avtex Air Services,NaN,Sydney - Brisbane,Swearingen SA227AC Metroliner III,VH-OZA,AC-600,1.0,1.0,0.0,The pilot of the mail plane reported some mino...
5196,04/11/2008,22:15,"Chrisinau, Moldova",Kata Transportation,NaN,"Chrisinau, Moldova - Antalya, Turkey - Sudan",Antonov An-32,ST-AZL,3009,8.0,8.0,0.0,Just minutes after the take off the plane trie...
5197,04/15/2008,14:30,"Goma, Congo",Hewa Bora Airways,NaN,Goma - Kisangani - Kinshasa,McDonnell Douglas DC-9-51,9Q-CHN,47731,85.0,0.0,47.0,"While attempting to takeoff, the plane failed ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)
print("Missing data per column:")
print(df.isnull().sum())

Missing data per column:
Date               0
Time            2219
Location          20
Operator          18
Flight #        4199
Route           1707
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)

df['Time'].fillna('Unknown', inplace=True)
df['Location'].fillna('Unknown', inplace=True)
df['Operator'].fillna('Unknown', inplace=True)
df['Flight #'].fillna('Not Applicable', inplace=True)
df['Route'].fillna('Unknown', inplace=True)
df['Type'].fillna('Unknown', inplace=True)
df['Registration'].fillna('Not Applicable', inplace=True)
df['cn/In'].fillna('Not Applicable', inplace=True)
df['Aboard'].fillna(df['Aboard'].median(), inplace=True)
df['Fatalities'].fillna(df['Fatalities'].median(), inplace=True)
df['Ground'].fillna(df['Ground'].median(), inplace=True)
df['Summary'].fillna('No summary available', inplace=True)

print("Missing data after imputation:")
print(df.isnull().sum())

Missing data after imputation:
Date            0
Time            0
Location        0
Operator        0
Flight #        0
Route           0
Type            0
Registration    0
cn/In           0
Aboard          0
Fatalities      0
Ground          0
Summary         0
dtype: int64

/tmp/ipython-input-129794115.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Time'].fillna('Unknown', inplace=True)
/tmp/ipython-input-129794115.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location'].fillna('Unknown', inplace=True)
/tmp/ipython-input-129794115.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Operator'].fillna('Unknown', inplace=True)
/tmp/ipython-input-129794115.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Flight #'].fillna('Not Applicable', inplace=True)
/tmp/ipython-input-129794115.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Route'].fillna('Unknown', inplace=True)
/tmp/ipython-input-129794115.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Type'].fillna('Unknown', inplace=True)
/tmp/ipython-input-129794115.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Registration'].fillna('Not Applicable', inplace=True)
/tmp/ipython-input-129794115.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cn/In'].fillna('Not Applicable', inplace=True)
/tmp/ipython-input-129794115.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Aboard'].fillna(df['Aboard'].median(), inplace=True)
/tmp/ipython-input-129794115.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fatalities'].fillna(df['Fatalities'].median(), inplace=True)
/tmp/ipython-input-129794115.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ground'].fillna(df['Ground'].median(), inplace=True)
/tmp/ipython-input-129794115.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Summary'].fillna('No summary available', inplace=True)

In [20]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)

fatality_locations = df[['Date', 'Location', 'Aboard', 'Fatalities']].copy()
print("Fatality Locations Dataframe:")
print(fatality_locations.head())

Fatality Locations Dataframe:
         Date                            Location  Aboard  Fatalities
0  09/17/1908                 Fort Myer, Virginia     2.0         1.0
1  07/12/1912             AtlantiCity, New Jersey     5.0         5.0
2  08/06/1913  Victoria, British Columbia, Canada     1.0         1.0
3  09/09/1913                  Over the North Sea    20.0        14.0
4  10/17/1913          Near Johannisthal, Germany    30.0        30.0

In [21]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)


max_fatalities_date = fatality_locations.loc[fatality_locations['Fatalities'].idxmax(), 'Date']
max_fatalities_count = fatality_locations['Fatalities'].max()
print(f"Date with highest fatalities: {max_fatalities_date} with {max_fatalities_count} fatalities")

Date with highest fatalities: 03/27/1977 with 583.0 fatalities

In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)


fatality_locations['NoFatalities'] = fatality_locations['Fatalities'] == 0
no_fatalities_count = fatality_locations['NoFatalities'].sum()
print(f"Number of crashes with no fatalities: {no_fatalities_count}")

print("Comparison of Aboard vs Fatalities:")
print(fatality_locations[['Date', 'Aboard', 'Fatalities']].head(10))

Number of crashes with no fatalities: 58
Comparison of Aboard vs Fatalities:
         Date  Aboard  Fatalities
0  09/17/1908     2.0         1.0
1  07/12/1912     5.0         5.0
2  08/06/1913     1.0         1.0
3  09/09/1913    20.0        14.0
4  10/17/1913    30.0        30.0
5  03/05/1915    41.0        21.0
6  09/03/1915    19.0        19.0
7  07/28/1916    20.0        20.0
8  09/24/1916    22.0        22.0
9  10/01/1916    19.0        19.0

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)


fatality_locations['Region'] = fatality_locations['Location'].apply(
    lambda x: x.split(',')[0].strip() if x != 'Unknown' and ',' in x else 'Unknown'
)
fatality_locations['Country/State'] = fatality_locations['Location'].apply(
    lambda x: x.split(',')[-1].strip() if x != 'Unknown' and ',' in x else 'Unknown'
)
print("Fatality Locations with split columns:")
print(fatality_locations[['Date', 'Region', 'Country/State', 'Aboard', 'Fatalities']].head())

NameError: name 'path' is not defined

In [24]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)


top_100_fatalities = fatality_locations.sort_values(by='Fatalities', ascending=False).head(100)
print("Top 100 crashes by fatalities:")
print(top_100_fatalities[['Date', 'Location', 'Aboard', 'Fatalities']])

Top 100 crashes by fatalities:
            Date                                    Location  Aboard  \
2963  03/27/1977                    Tenerife, Canary Islands   644.0
3568  08/12/1985       Mt. Osutaka, near Ueno Village, Japan   524.0
4455  11/12/1996                    Near Charkhidadri, India   349.0
2726  03/03/1974                   Near Ermenonville, France   346.0
3562  06/23/1985     AtlantiOcean, 110 miles West of Ireland   329.0
...          ...                                         ...     ...
4852  04/15/2002                          Busan, South Korea   166.0
3198  01/21/1980  Elburz Mtns., near Laskarak, Markazi, Iran   128.0
1701  12/16/1960          Staten Island / Brooklyn, New York   128.0
5108  07/09/2006                             Irkutsk, Russia   203.0
1433  06/30/1956                       Grand Canyon, Arizona   128.0

      Fatalities
2963       583.0
3568       520.0
4455       349.0
2726       346.0
3562       329.0
...          ...
4852       128.0
3198       128.0
1701       128.0
5108       128.0
1433       128.0

[100 rows x 4 columns]

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

file_name = 'Airplane_Crashes_and_Fatalities_Since_1908.csv'
file_path_full = os.path.join(path, file_name)


df = pd.read_csv(file_path_full)



top_countries = top_100_fatalities.groupby('Country/State')['Fatalities'].sum().nlargest(25)

plt.figure(figsize=(10, 8))
sns.set_palette("tab20")
plt.pie(top_countries, labels=top_countries.index, autopct='%1.1f%%', startangle=140)
plt.title('Distribution of Fatalities by Country/State (Top 25)')
plt.axis('equal')
plt.show()